.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.heroContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding: 0px 224px;
  text-align: left;
  color: white;
  z-index: 1;
}

.heroContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Overlay escuro para melhorar a legibilidade do texto */
  z-index: -1;
}

.heroContainer img {
  width: 300px;
  height: 300px;
  transform: translateY(-270px);
}

.heroContainer h1 {
  font-size: 118px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 30.508% */
  letter-spacing: 11.8px;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.heroContainer h3 {
  font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: normal;
  margin-bottom: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
