*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, .title {
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
}